<div class="container">
    <h1 class="display-3 text-center">Аркон</h1>
    
        <div class="card centered-top" style="width: 80%;">
            <img src="https://design-homes.ru/images/galery/1930/dom-v-skandinavskom-stile_5dae23111ade0.jpg" class="card-img-top" >
            <div class="card-body">
              <h5 class="card-title">О нашей компании</h5>
              <p class="card-text " >Наша команда занимается строительством с 2010 года. Поначалу мы также производили металлические двери и газобетонные блоки. Благодаря этому мы приобрели большой опыт в сфере строительных материалов. Понимаем все тонкости и нюансы их производства и правильное применение в строительстве.</p>

               <p> С 2014 года основали Аркон. В своей работе мы используем максимально детальный подход, постоянно совершенствуем технологии строительства, идя на шаг впереди конкурентов. За 4 года мы построили более 50 домов (от 50м2 до 800м2). Заработали репутацию надёжного и ответственного застройщика.</p>
                
                <p> Наша цель – построить дом Вашей мечты не только быстро, но в первую очередь качественно, для того, чтобы он прослужил Вам долгие годы. Поэтому все работы, начиная от заливки фундамента, и заканчивая внутренней отделкой помещений, проходят в строгом соответствии стандартам качества, установленными строительным регламентом.</p>
              <a href="employees" class="btn btn-primary">Наши сотрудники</a>
            </div>
          </div>
  </div>
